<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <!-- Login scripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/facebookLogin.js') }}"></script>
    <div>Microblog: <a href="/index">Home</a>
    {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>